
<div class="container">
  <div class="alert alert-success alert-dismissible" role="alert" ng-show="alertMessage"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{alertMessage}}</div>
  <div class="row m-y-30">
    <div class="col-sm-8 col-sm-offset-2">
        <input type="text" class="form-control" ng-model="search">
        <p ng-show="search"> Du suchst gerade nach: {{search.toUpperCase()}}</p>
    </div>
  </div>
  <table class="table table-hover" ng-controller="FestivalListCtrl">
    <tr>
      <th>Festival</th>
      <th>Stadt</th>
      <th>Entfernung</th>
    </tr>
    <tr ng-repeat="festival in festivals | filter: search" ng-click="redirect(festival)">
      <td>{{festival.festivalName}}</td>
      <td>{{festival.address.locality}}</td>
      <td>{{festival.address.distance}}</td>
    </tr>
  </table>
</div>
