<div ng-controller="EmailCtrl">
  <form class="form-horizontal" ng-submit="submit()">
    <div class="container">
        <h1 class="text-center m-t-30 m-b-30">Emailvorlage</h1>
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">Subject</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="subject" ng-model="email.subject" >
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">Body</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="8" id="body" ng-model="email.body"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">Daterange</label>
          <div class="col-sm-5">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="text" class="form-control datepicker"
                uib-datepicker-popup
                ng-focus="startOpened = true"
                placeholder="Start Date"
                datepicker-options="startDateOptions"
                is-open="startOpened"
                name="startDate"
                ng-model="email.date.startDate" required/>
              </div>
            </div>
          <div class="col-sm-5">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="text" class="form-control datepicker"
                uib-datepicker-popup
                ng-focus="endOpened = true"
                placeholder="End Date"
                datepicker-options="endDateOptions"
                is-open="endOpened"
                name="endDate"
                ng-model="email.date.endDate" required/>
              </div>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="col-sm-12 text-center m-y-30">
        <button type="button" class="btn btn-lg" id="cancel" ng-click="backToList()" >Cancel</button>
        <button type="button" class="btn btn-danger btn-lg" id="delete" ng-click="delete()" ng-show="email._id" >Delete</button>
        <input type="submit" class="btn btn-primary btn-lg" id="submit" value="Save"/>
      </div>
    </div>
  </form>
</div>
